<footer class="footer bg-light text-center">
    <div class="container">
        <p class="text-muted">&copy; <%= new Date().getFullYear() %> NoteTaking App. A. Yaghini</p>
    </div>
</footer>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #f8f9fa;
        padding: 10px 0;
        text-align: center;
    }
</style>
