<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Include your CSS here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    

    <div class="container">
        <h1>Forgot Password</h1>
        <% if (message) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
        <% } %>
        <% if (successMessage) { %>
            <div class="alert alert-success">
                <%= successMessage %>
            </div>
        <% } %>
        <form action="/users/forgot-password" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required class="form-control" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
